<template>
  <div>
  <form id="formcotizar" method="POST" action="" @submit.prevent="validateBeforeSubmit('formcotizar')">

    <div class="row py-0 form-row">

        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <select name="tipovivienda" v-model="$store.state.formData.tipovivienda" v-validate="{ required: true }" class="form-control form-control-lg chevron fs14"
                  id="tipovivienda">
            <option value="">Tipo vivienda</option>
            <option value="DEPARTAMENTO">DEPARTAMENTO</option>
            <option value="CASA">CASA</option>
          </select>
          <small class="text-danger" v-show="errors.has('tipovivienda')"><i class="text-danger fa fa-warning"></i> {{ errors.first('tipovivienda') }}</small>
        </div>
      </div>
       <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <select name="tipopropietario" id="tipopropietario" v-model="$store.state.formData.tipopropietario" v-validate="'required'"
                  :class="{'input': true, 'is-invalid': errors.has('tipopropietario') }" class="form-control form-control-lg chevron fs14"
                  aria-label="Tipo Propietario">
            <option value="">¿Es propietario o arrendador?</option>
            <option value="PROPIETARIO">PROPIETARIO</option>
            <option value="ARRENDADOR">ARRENDADOR</option>
          </select>
          <small class="text-danger" v-show="errors.has('tipopropietario')"><i class="text-danger fa fa-warning"></i> {{ errors.first('tipopropietario') }}</small>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <select name="numeropisos" id="numeropisos" v-model="$store.state.formData.numeropisos" v-validate="'required'"
                  :class="{'input': true, 'is-invalid': errors.has('numpiso') }" class="form-control form-control-lg chevron fs14"
                  aria-label="numeropisos">
            <option value="">Número de pisos del inmueble</option>
            <option v-for="numpiso in formData.numpisos" v-bind:key="numpiso.id"> {{ numpiso.text }}</option>
          </select>
          <small class="text-danger" v-show="errors.has('numeropisos')"><i class="text-danger fa fa-warning"></i> {{ errors.first('numeropisos') }}</small>
        </div>
      </div>
             <div class="col-12">
          <div class="mb-2">
        <div class="form-group col-form-label-sm mb-0">
          <input name="sumasegurada" id="sumasegurada" v-model="$store.state.formData.sumaasegurada"
                 v-validate="{ required: true }"
                 class="form-control form-control-lg form-style txtColorGray2" aria-label="VALOR DE VIVIENDA O SUMA ASEGURADA SOLICITADA"
                 :class="{'input': true, 'is-invalid': errors.has('sumaasegurada') }" maxlength="25" type="text"
                 placeholder="Suma asegurada solicitada"/>
          <small class="text-danger" v-show="errors.has('sumaasegurada')"><i class="text-danger fa fa-warning"></i> {{ errors.first('sumasegurada') }} </small>
        </div>
      </div>
      </div>
    </div>
           <div class="row form-row">

      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <input name="nombre" id="nombre" v-model="$store.state.formData.nombre"
                 v-validate="{ required: true, alpha_spaces:true }"
                 class="form-control form-control-lg form-style txtColorGray2" aria-label="Nombre del cliente"
                 :class="{'input': true, 'is-invalid': errors.has('nombre') }" maxlength="25" type="text"
                 placeholder="Nombre(s)"/>
          <small class="text-danger" v-show="errors.has('nombre')"><i class="text-danger fa fa-warning"></i> {{ errors.first('nombre') }} </small>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <input name="apellidoP" id="apellidoP" v-model="$store.state.formData.apellidoP"
                 v-validate="{ required: true, alpha_spaces:true }" class="form-control form-control-lg form-style brderradius"
                 aria-label="Apellido paterno"
                 :class="{'input': true, 'is-invalid': errors.has('apellidoP') }" maxlength="25"
                 type="text"
                 placeholder="Apellido paterno"/>
          <small class="text-danger" v-show="errors.has('apellidoP')"><i class="text-danger fa fa-warning"></i> {{ errors.first('apellidoP') }}</small>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <input name="apellidoM" id="apellidoM" v-model="$store.state.formData.apellidoM"
                 v-validate="{ required: true, alpha_spaces:true }" class="form-control form-control-lg form-style"
                 aria-label="Apellido materno"
                 :class="{'input': true, 'is-invalid': errors.has('apellidoM') }" maxlength="25"
                 type="text"
                 placeholder="Apellido materno"/>
          <small class="text-danger" v-show="errors.has('apellidoM')"><i class="text-danger fa fa-warning"></i> {{ errors.first('apellidoM') }}</small>
        </div>
      </div>
    </div>
    <!-- -->

     <div class="row py-0 form-row">
           <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <input name="telefono" id="telefono" v-model="$store.state.formData.telefono"
                 v-validate="{ required: true, numeric:true, max:10, min:10}"
                 class="form-control form-control-lg form-style brderradius"
                 aria-label="Teléfono" :class="{'input': true, 'is-invalid': errors.has('correo') }"
                 type="number" placeholder="Teléfono"/>
          <small class="text-danger" v-show="errors.has('telefono')"><i class="text-danger fa fa-warning"></i> {{ errors.first('telefono') }}</small>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <input name="correo" id="correo" v-model="$store.state.formData.correo" v-validate="'required|email'"
                 class="form-control form-control-lg form-style brderradius"
                 aria-label="Correo electrónico" :class="{'input': true, 'is-invalid': errors.has('correo') }"
                 maxlength="100" type="email" placeholder="Correo electrónico"/>
          <small class="text-danger" v-show="errors.has('correo')"><i class="text-danger fa fa-warning"></i> {{ errors.first('correo') }}
          </small>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="mb-2">
          <input name="codigoPostal" id="codigoPostal" v-model="$store.state.formData.codigoPostal"
                 v-validate="{ required: true, numeric:true }"
                 class="form-control form-control-lg form-style" aria-label="Codigo Postal"
                 :class="{'input': true, 'is-invalid': errors.has('codigoPostal') }" maxlength="25" type="number"
                 placeholder="Código Postal"/>
          <small class="text-danger" v-show="errors.has('codigoPostal')"><i class="text-danger fa fa-warning"></i> {{ errors.first('codigoPostal') }} </small>
        </div>
      </div>

       </div>
      <div class="col-12 text-center mt-2">
                                <div class="checkbox checkbox-primary custom-checkbox"><input id="checkbox2" type="checkbox" checked="" /><label class="size13" for="checkbox2">Acepto que he leído el &nbsp;<a class="aviso" href="/" data-toggle="modal" data-target="#myModal"><strong class="size13">aviso de privacidad.</strong></a>
                                  <div class="modal container" id="myModal">
                                    <div class="modal-dialog"></div>
                                    <div class="modal-content">
                                      <!-- Modal Header--><div class="modal-header"><h4 class="modal-title">Aviso de privacidad</h4><button class="close" type="button" data-dismiss="modal">&times;</button></div><div class="modal-body"><article><h3 class="text-left">Identidad y domicilio del Responsable</h3><p class="text-justify">En virtud de lo dispuesto por la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares (en adelante, la &ldquo;LFPD&rdquo;) y resto de disposiciones aplicables, TRIGARANTE, AGENTE DE SEGUROS Y DE FIANZAS, S.A. DE C.V. (en adelante e indistintamente, &ldquo;Ahorra Seguros&rdquo;), con domicilio para o&iacute;r y recibir notificaciones en Francisco Tamagno 223, Vallejo, 07870 Ciudad de M&eacute;xico; le informa de forma expresa:</p><h4 class="text-left">1. FINALIDADES DEL TRATAMIENTO DE DATOS PERSONALES</h4><p class="text-justify">Los datos personales que recabamos de usted, ser&aacute;n utilizados conforme a lo que establece la Ley, tales datos podr&aacute;n ser obtenidos de manera directa, indirecta o de otras fuentes, mismos datos nos son necesarios para proporcionarle los servicios que se deriven o sean accesorios de la misma, y con ello dar cumplimiento a las siguientes finalidades:</p><ul class="text-left"><li>-Contacto</li><li>-Con fines de identificaci&oacute;n y de verificaci&oacute;n</li><li>-Promoci&oacute;n de productos financieros, esta informaci&oacute;n puede ser transferida a instituciones de cr&eacute;dito o instituciones financieras:</li><li>-Cobranza en cualquiera de sus fases</li><li>-Ofrecer y prestar servicios de telemercadeo y servicios relacionados,</li><li>-Encuestas,</li><li>-Promocionar y comercializar todo tipo de bienes y servicios</li><li>-Podr&aacute; tratar su informaci&oacute;n para fines publicitarios, promocionales y de investigaciones de mercado,</li><li>-Documentar la relaci&oacute;n con los Clientes a trav&eacute;s de la celebraci&oacute;n de contratos y/o convenios correspondientes;</li><li>-Inclusi&oacute;n en el cat&aacute;logo de clientes</li><li>-Intermediaci&oacute;n de seguros y de fianzas.</li><li>-Cumplimiento de las obligaciones contenidas en nuestro contrato, convenio o de cualquier relaci&oacute;n jur&iacute;dica que establezcamos conforme a la Legislaci&oacute;n aplicable vigente.</li><li>-Realizar las gestiones propias y necesarias para el cumplimiento de los servicios.</li><li>-Para intermediar en la evaluaci&oacute;n de su solicitud de seguro, cotizar seguros y fianzas, brindarle la asesor&iacute;a necesaria para la contrataci&oacute;n de su seguro, en la renovaci&oacute;n del mismo y en caso de siniestro;</li><li>-Atender cualquier queja, pregunta o comentario.</li><li>-Enviar notificaciones de cambios a este aviso de privacidad.</li><li>-Ubicaci&oacute;n de clientes</li><li>-Cobranza en cualquiera de sus fases</li><li>-Ofrecer y prestar servicios de telemercadeo y servicios relacionados</li><li>-Promocionar y comercializar servicios financieros</li><li>-Fines de promoci&oacute;n, promocionales y actualizaci&oacute;n de producto o servicio</li><p class="text-justify">Finalidades Secundarias</p><p class="text-justify">No utilizaremos sus datos para finalidades secundarias.</p></ul><h4 class="text-left">2. TIPOS DE DATOS</h4><p class="text-justify">Para llevara a cabo las finalidades primarias descritas en el presente aviso de privacidad, requerimos de los siguientes datos personales:</p><ul class="text-justify"><li>-Identificaci&oacute;n y de contacto.</li></ul><p class="text-justify">Adem&aacute;s podremos utilizar &uacute;nica y exclusivamente para las finalidades primarias descritas en el presente aviso los siguientes datos personales, mismos que son considerados como sensibles, por lo que requieren de cuidado y protecci&oacute;n especial, los cuales consisten en:</p><ul class="text-justify"><li>-Datos de salud.</li><li>-Datos de caracter&iacute;sticas f&iacute;sicas.</li><li>-Datos patrimoniales y/o financieros.</li></ul><p class="text-justify">La informaci&oacute;n que proporcione el Titular no podr&aacute; ser enajenada por terceras personas. Sin embargo, y con apego a la Ley podr&aacute; ser revelada en los siguientes casos:</p><ul class="text-justify"><li>A) Cuando el titular de dicha informaci&oacute;n otorgue su consentimiento de manera expresa.</li><li>B) Cuando la transferencia de informaci&oacute;n se efectu&eacute; con terceros para dar cumplimiento a los servicios, gestiones u obligaciones pactadas con el Titular.</li><li>C) En los casos que lo exija la Ley, la procuraci&oacute;n o administraci&oacute;n de justicia.</li></ul><p class="text-justify">Asimismo los datos personales pueden ser compartidos dentro del pa&iacute;s con prestadores a organizaciones del sector asegurador, con motivo de las finalidades primarias para fines de contrataci&oacute;n de sus p&oacute;lizas, selecci&oacute;n de riesgos, prevenci&oacute;n de fraude, ajustadores de seguro, servicios hospitalarios y legales para atenderle durante alg&uacute;n siniestro.</p><h4 class="text-left">4. OPCIONES Y MEDIOS PARA LIMITAR EL USO O DIVULGACI&Oacute;N DE SUS DATOS</h4><p class="text-justify">En un plazo de cinco d&iacute;as el titular podr&aacute; oponerse al tratamiento y transferencia de sus datos cuando este aviso de privacidad no se le da a conocer de manera directa o personal. Para limitar el uso y divulgaci&oacute;n de su informaci&oacute;n personal, as&iacute; como para manifestar su oposici&oacute;n para recibir mensajes promocionales de nuestra parte, agradeceremos env&iacute;e su solicitud a trav&eacute;s de la siguiente direcci&oacute;n: info@trigarante.com</p><h4 class="text-left">5.DERECHOS ARCO</h4><ul class="text-justify"><li>-Acceso: Conocer qu&eacute; datos personales obtenemos y para qu&eacute; los utilizamos.</li><li>-Rectificaci&oacute;n: Solicitar correcci&oacute;n de informaci&oacute;n o por estar desactualizada.</li><li>-Cancelaci&oacute;n: Consiste en la eliminaci&oacute;n de datos de nuestra base de datos, por uso inadecuado.</li><li>-Oposici&oacute;n: Oponerse al uso de sus datos para fines espec&iacute;ficos.</li><li>-Estos derechos se conocen como derechos ARCO.</li></ul><h4 class="text-left">6. MECANISMOS PARA EL EJERCICIO DE DERECHOS ARCO Y REVOCACI&Oacute;N DE CONSENTIMIENTO</h4><p class="text-justify">Para proceder al ejercicio de sus derechos ARCO o para la revocaci&oacute;n del consentimiento o para limitar la transferencia de sus datos, es necesario dirija su solicitud a nuestro Departamento de Protecci&oacute;n de Datos Personales, ubicado en el domicilio antes indicado, o bien, enviando un correo electr&oacute;nico a: info@trigarante.com de conformidad con lo siguiente:</p><p class="text-justify">Ingresar solicitud por escrito o enviar como se ha dicho la solicitud por correo electr&oacute;nico. La solicitud deber&aacute; contener y acompa&ntilde;arse de lo siguiente:</p><ul class="text-justify"><li>A) Nombre completo del titular de los datos y su domicilio, correo electr&oacute;nico u otro medio para comunicarle la respuesta a su solicitud.</li><li>B) Documentos que acrediten su identidad, Identificaci&oacute;n oficial o documento con el que se acredite la representaci&oacute;n de tu representante legal.</li><li>C) Descripci&oacute;n clara y precisa de la informaci&oacute;n respecto de la cual se solicite el acceso, rectificaci&oacute;n, oposici&oacute;n o cancelaci&oacute;n, seg&uacute;n sea el caso. En caso de solicitudes de rectificaci&oacute;n, acompa&ntilde;ar la documentaci&oacute;n que sustente su petici&oacute;n y las modificaciones a realizarse.</li><li>D) Cualquier otro elemento o documento que facilite la localizaci&oacute;n de sus datos personales.</li><li>-Se dar&aacute; respuesta a su solicitud en un plazo m&aacute;ximo de 20 d&iacute;as h&aacute;biles contados desde la fecha en que la recibimos y de resultar procedente conforme a la Ley aplicable, se har&aacute; efectiva dentro de los 15 d&iacute;as h&aacute;biles siguientes a la fecha en que se te comunique la respuesta.</li><li>-Trat&aacute;ndose de solicitudes de acceso a datos personales proceder&aacute; la entrega mediante cualquier medio f&iacute;sico o electr&oacute;nico, previa acreditaci&oacute;n de la identidad del solicitante o representante legal, seg&uacute;n corresponda, con los documentos originales para su cotejo.</li><li>-Los plazos antes referidos podr&aacute;n ser ampliados una sola vez, por un periodo igual, siempre y cuando as&iacute; lo justifiquen las circunstancias del caso.</li><li>-La obligaci&oacute;n de acceso a su informaci&oacute;n se dar&aacute; por cumplida cuando se ponga a su disposici&oacute;n los datos personales o bien mediante la entrega de copias, documentos electr&oacute;nicos u otro soporte, la entrega de los datos ser&aacute; gratuita, debiendo el titular cubrir &uacute;nicamente los gastos justificados de env&iacute;o o el costo de reproducci&oacute;n de copias u otros formatos.</li><li>-En los casos de rectificaci&oacute;n o cancelaci&oacute;n o se trate de solicitudes de oposici&oacute;n al tratamiento, te informaremos la resoluci&oacute;n correspondiente debidamente fundada de conformidad con lo establecido por la Ley Federal de Protecci&oacute;n de Datos en Posesi&oacute;n de los Particulares. Sin embargo, es importante que tengas en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligaci&oacute;n legal necesitemos seguir tratando sus datos personales.</li></ul><p class="text-justify">Si desea usar el formulario de solicitud que ponemos a su disposici&oacute;n para facilitar el ejercicio de derechos ARCO, puede solicitarlo a trav&eacute;s de la siguiente direcci&oacute;n electr&oacute;nica: info@trigarante.com</p><h4 class="text-left">7. MODIFICACIONES</h4><p class="text-justify">El presente aviso de privacidad puede ser susceptible de modificaciones, cambios o actualizaciones derivadas de la legislaci&oacute;n aplicable. Los cambios o actualizaciones a este Aviso de privacidad podr&aacute;n ser consultados, en nuestro sitio de internet https://ahorraseguros.mx/ en el v&iacute;nculo de &ldquo;aviso de privacidad&rdquo;.</p><h4 class="text-left">8. COOKIES</h4><p class="text-justify">La cookie es una breve informaci&oacute;n que el portal de Internet utiliza y env&iacute;a a tu PC, la cual queda almacenada en el disco duro, para que la pr&oacute;xima vez que ingreses a nuestro portal, podamos usar la informaci&oacute;n almacenada en la cookie para facilitarte el uso a nuestro sitio de internet. Cabe mencionar que las mismas pueden ser eliminadas en el momento que lo desee siguiendo las instrucciones que se proporcionan a trav&eacute;s de su navegador de internet.</p><h4 class="text-left">9. CONSENTIMIENTO PARA EL TRATAMIENTO DE SUS DATOS PERSONALES</h4><p class="text-justify">En caso de que el titular no manifieste la oposici&oacute;n al tratamiento de sus datos personales, se entender&aacute; que el mismo consiente t&aacute;citamente el tratamiento de su informaci&oacute;n personal en los t&eacute;rminos indicados en el Aviso de Privacidad.</p><h4 class="text-left">10. AHORRA SEGUROS LE RECUERDA:</h4><p class="text-justify">Los dep&oacute;sitos bancarios se realizan exclusivamente en cuentas a nombre de las compa&ntilde;&iacute;as de seguros y nunca a nombre de particulares.</p><p class="text-justify">Para mayor informaci&oacute;n puedes acudir a nuestro domicilio, comunicarse al 52810870 extensi&oacute;n 805; enviarnos correo electr&oacute;nico a: correo electr&oacute;nico a:info@trigarante.com, o consultar nuestra p&aacute;gina web, haciendo click en el info@trigarante.com, o consultar nuestra p&aacute;gina web, haciendo click en el v&iacute;nculo de &ldquo;aviso de privacidad&rdquo;</p></article></div><div class="modal-footer"><button class="btn btn-sm" type="button" data-dismiss="modal">Cerrar</button></div></div></div></label></div>
                            </div>
      <div class="">
        <button id="btnCotizarAuto" type="submit" class="btn btn-block btn-success btnLlamaya">
          Cotiza gratis <i class="fa fa-chevron-right text-white"></i>
        </button>
      </div>
  </form>
</div>
</template>
<script>


    export default {
        props: {
            config: Object
        },
        data() {
            return {
                formData: {
                    edades: [],
                    numpisos: [],
                    numsotanos: [],
                    numaniosconctruccion: [],
                    tipopropietario: [],

                }
            }
        },

        created: function () {
            this.formData.edades.length = 0;
            this.formData.numpisos.length = 0;
            this.formData.numsotanos.length = 0;
            this.formData.numaniosconctruccion.length = 0;
            this.formData.tipopropietario.length = 0;
            this.getEdades();
            this.getNumPisos();
            this.getNumSotanos();
            this.getNumAniosConstruccion();
        },
        methods: {
            getEdades: function () {
                for (var i = 18; i < 100; i++) {
                    this.formData.edades.push({
                        id: i,
                        text: i
                    });
                }
            },
            getNumPisos: function () {
                for (var i = 1; i < 30; i++) {
                    this.formData.numpisos.push({
                        id: i,
                        text: i
                    });
                }
            },
            getNumSotanos: function () {
                for (var i = 1; i < 10; i++) {
                    this.formData.numsotanos.push({
                        id: i,
                        text: i
                    });
                }
            },
            getNumAniosConstruccion: function () {
                for (var i = 1; i < 21; i++) {
                    this.formData.numaniosconctruccion.push({
                        id: i,
                        text: i
                    });
                }
            },

                
            validateBeforeSubmit(scope) {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.$store.commit('saveData');
                        console.log(this.config.urlNext);
                        $nuxt._router.push({path: this.config.urlNext})
                    }
                });
            },
            myFocus: function (id) {
                document.getElementById(id).focus();
            },
            calculaFechaNacimiento() {
                this.$store.state.formData.fechaNacimiento = ((new Date().getFullYear() - this.$store.state.formData.edad + "-01-01").toString()).toString("yyyy/MM/dd")

            }
        },

    };
</script>
