<template>
  <div class="container-fluid mb-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="nav navbar-nav"></div>
                    <ul class="nav navbar navbar-light p-0">
                        <li class="nav-item">
                            <a class="nav-link active ml-33" href="/">
                                <div class="sprite-logo"></div>
                            </a>
                        </li>
                        <li class="nav-item d-none d-sm-none d-md-block"><a class="nav-link" href="#"></a></li>
                        <li class="nav-item d-none d-sm-none d-md-block"><a class="nav-link" href="#"></a></li>
                        <li class="nav-item">
                        <a :href="'tel:'+$store.state.config.telefonoAS" class="leadito">
                        <img src="img/common/call-answer.svg" class="p-tam"/> {{$store.state.config.telefonoAS}}</a>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
    </div>

</template>
