<template>
  <div>
<div class="container-fluid backbuenfin promoheader d-none d-sm-none d-md-block" style="display:block!important;">
  <div class="container alert" role="alert" style="border:none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    <div class="row">
    <div class="col-12 col-md-12 col-lg-6">
    <div class="media">
      <div class="row">
      <div class="media-left">
        <img class="imgstyle" src="img/mejorahorro.svg"/>
      </div>
      <div class="media-body ml-1 col-10">
        <h4 class="media-heading text-white textpromo1">Aprovecha tu aguinaldo </h4>
        <h6 class="textspan">Recibe grandes promociones y paga a MSI con tarjetas participantes en tu seguro de auto.</h6>
      </div>
      </div>
  </div>
    </div>
  </div>
  <div class="row backnegro">
      <div class="col-12 text-center text-white mb-2 d-sm-block d-md-none d-lg-none">
        <p class="stylepromo text-white"><strong class="stylepromo text-white">Semana del Mejor Ahorro del 16 al 24 de Diciembre</strong></p>
      </div>
  </div>
  </div>
</div>
</div>
</template>
<style>
.btn-bn-fin {font-weight: 500;border-color: #fff;padding: 2px 12px;font-size: 14px;line-height: 1.5;border-radius: .25rem;
background-color: #e61616;opacity: .8;}
.fon13{font-size: 14px;color: white;letter-spacing: 2px;/* */text-transform:uppercase;opacity:1;font-weight:600;letter-spacing:0;}
h5{font-size: 12px;margin-top: 7px;font-weight: 700;color: white;}
.styleclose{/*margin-top: 10px;*/color:#fff;}
.fixedtext{margin-left: 70px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:65px!important;padding:3px 0 5px;}
.textpromo1{font-size:22px;margin-top:0px;font-weight: 800;margin-bottom: -6px;}
.textspan{font-size:12px;color:white;margin-top:10px;}
.alert1 {position: relative;padding: 0;margin-bottom: 0px;margin-top: 0;border: 1px solid transparent;border-radius: 0rem;}
.m0{padding-left: 0;padding-right: 0;}
.padd0{padding: 0;}
.f10{font-size: 10px;}
.promo {top: 0px;width: 100%;z-index: 999;color: #777;padding-left: 46px;padding-right: 46px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.fontclose{font-size: 22px;}
.backbuenfin{background-color:#ff003d;}
.alert{padding: 0!important;margin-bottom: 0;}
.styleclosemovile{color: white;opacity: .8;margin-right: -23px;}
@media (max-width: 768px) and (min-width: 600px){.alert{background-color: #ff003d;}}
@media (max-width: 599px) and (min-width: 481px){.alert{background-color: #ff003d;}}
@media (max-width: 480px) and (min-width: 320px){
.promo{padding-left: 0px;padding-right: 0px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.alert{background-color: #ff003d;}
.textpromo{margin-top:5px!important;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:65px!important;padding:5px 0 5px;}
.textpromo{font-size:14px;}
.textspan{font-size:11px;}
}
@media (max-width: 320px) and (min-width: 280px){
.promo{padding-left: 0px;padding-right: 0px;}
.f10{font-size: 10px;margin-top: 15px;}
.stylepromo{margin-bottom: -8px;font-size: 10px;margin-top: 2px;}
.alert{background-color: #ff003d;}
.textpromo{margin-top: 5px;}
.imgstyle{margin-top:0px;display: block;/*position: absolute;*/width:65px!important;padding:5px 0 5px;}
.textpromo{font-size:14px;}
.textspan{font-size:11px;}
}
button.close{color:#fff!important;opacity:1!important;}
</style>