<template>
<div class="container-fluid">
  <div class="container">
      <div class="row mt-3 mb-4">
        <div class="col-lg-9 offset-lg-2">
           <ul class="slides">
             <li class="col-4 col-sm-3 col-md-3 col-lg-1"><div class="sprite-aba"></div></li>
             <li class="col-4 col-sm-3 col-md-3 col-lg-1"><div class="sprite-afirme"></div></li>
             <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-axa"></a></li>
             <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-banorte"></a></li>
             <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-gnp"></a></li>
             <li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-mapfre"></a></li>
             </ul>
      </div>      
    </div>    
  </div>          
</div>

</template>
