<template>
    <div>
      <gtag-content/>
  <header-content/>
  <section class="bg-white prueba mb-4">
        <div class="container-fluid padd-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                 <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logotipos/aba.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Muy Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking5.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Muy Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div>
                <!-- <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="/img/logotipos/axa.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Muy Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking5.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Muy Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div> -->
                  <!-- <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logotipos/banorte.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking4.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">4.5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div> -->
                   <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logotipos/gnp.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Muy Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking5.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Muy Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div>
                 <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logotipos/mapfre.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking4.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">4.5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                    
                              </div>
                   </div>
                 </div>          
                </div>

            </div>
        </div>
    </section>

<footer-content/>
</div>
</template>
<script>
  import gtagContent from '~/components/common/gtagContent.vue'
  import HeaderContent from '~/components/common/HeaderContent.vue'
  import FooterContent from '~/components/common/FooterContent.vue'
  export default {
    layout:'gracias',
    name: "FontAwesome",
    components: {
      HeaderContent,
      FooterContent,
      gtagContent
    },
    created(){
      this.$store.state.config.telefonoAS='(55)28815962';
    },
     head() {
      return {
        title: 'Seguros de Casa – Cotiza Seguros para Casa – AhorraSeguros.Mx',
        meta: [
          {hid: 'seguro de casa', name: 'keywords', content: 'Seguros de casa, Seguros para casa, Seguros de casa en México, Cotizador de seguros de casa, seguros de casa, seguros para casa, seguros casa'},
          {hid: 'description', name: 'description', content: ' Seguros de casa: AhorraSeguros.Mx te ofrece los mejores precios y coberturas en Seguros para casa en México. Cotiza fácil, rápido y ahorra hasta 25% en tu Seguro de Casa.'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: '@vargasdesignMx | @DanCuevas'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://ahorraseguros.mx/seguro-de-casa/'}
        ],
               link: [
          { rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700' }
    ]
      }
    }
  };
</script>
