<template>
  <div>
<!--    <hotsale-component/>   -->
    <nuxt/>
  </div>
</template>
<script>
   // import hotsaleComponent from '~/components/common/alert-hotsale2019.vue'
   export default {
    components: {
      // hotsaleComponent
    }
   }
</script>
<style>
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
