<template>
  <div>
      <div class="w-100 p-3"></div>
        <div class="container text-justify">
            <h4 class="card-title h2Colortitle title colorAhorra">
                Adquiere tu Seguro de Casa en Ahorra Seguros     
            </h4>
         <div class="">    
              <p>Que estas dispuesto a hacer por tu familia, mucho verdad, pues nosotros estamos dispuestos a proteger de tu tranquilidad y bienestar, porque sabemos que tu patrimonio y salud es lo más importante, queremos estar de la mano contigo ante imprevistos y accidentes, Ahorra Seguros quiere ser parte de ti y ponerte a la mano la mejor protección y cobertura, por esto ponemos a tu disposición el mejor Seguro de Casa, ideal para ti y tu familia, contamos con las mejores coberturas del mercado y de la mano de las 20 más importantes aseguradoras del país te ofrecemos los mejores beneficios.</p>
               <p>Con Ahorra Seguros contratar tu Seguro de Casa es muy fácil, la decisión la tienes tú, nosotros nos encargamos de lo demás. Asegurate te tomará menos de dos minutos solo cotiza, elige y contrata.</p>
            </div>      
        </div>
    
    <div class="w-100 p-3"></div>
  </div>
</template>
<style scoped>
  .body_color{background: #e9ebee;}
</style>