<template>
  <div>
   <div class="w-100 p-3"></div>
    <div class="container">
         <h4 class="card-title h2Colortitle title colorAhorra">
              Adquiere tu Seguro de Hogar en Ahorra Seguros    
        </h4> 
         <div class="text-justify">
               <p>Porque tu tranquilidad y el bienestar de tu familia, son lo más importante, en Ahorra Seguros tenemos para ti la mejor protección, ya que te brindamos el Seguro de Hogar ideal, con las mejores coberturas del mercado, contamos con las 20 más importantes aseguradoras en México, las cuales tienen lo que requieres para poder cuidar de tu patrimonio, y así tener la estabilidad que te mereces.</p>     
            <p>Además en Ahorra Seguros te damos todas las facilidades necesarias para que puedas contratar cuanto antes tu póliza de Seguros de Hogar. ¡No esperes más, cotiza y contrata en menos de 2 minutos!</p>
        </div>
    </div>
  </div>
</template>
<style scoped>
  .body_color{background: #e9ebee;}
</style>