<template>
    <section class="mt-3">
        <div class="container">
            <h3 class="card-title text-center title mb-3 colorAhorra">
                 Beneficios exclusivos en tu Seguro de Casa 
           </h3>
        <div class="w-100 p-3"></div>
        <div class="row pt-3">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="">
                    <div class="row">
                        <div class="col mb-2">
                             <!-- Calificacion-->
                        <div class="card card_logos brradius colorcard">
                        <div class="paddingnone py-0">
          <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                     <img class="mt-3 img_bene" src="img/logotipos/house.svg" alt="AhorraSeguros-hogar" title="AhorraSeguros-hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                <p class="text-center mb-0"><strong class="f13bene">Asistencia en el Hogar</strong></p>
            <ul>
                <li class="fontmovile" style="list-style: none;">Cerrajería</li>
                <li class="fontmovile" style="list-style: none;">Plomería</li>
                <li class="fontmovile" style="list-style: none;">Electricista</li>
            </ul>                                     
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>
   </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="">
                            <div class="row">
                                <div class="col">
                                   <!-- Calificacion -->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                    <img class="img_bene" src="img/logotipos/lab.svg" alt="Salud hogar" title="Salud hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                       <p class="text-center mb-0"><strong class="f13bene">Salud Hogar</strong></p>
                    <ul>
                        <li class="fontmovile" style="list-style: none;">Ambulancia</li>
                        <li class="fontmovile" style="list-style: none;">Orientación Médica</li>
                        <div class="w-100 p-3 d-none d-sm-none d-md-block"></div>
                    </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>
   </div>
    </div>

    <div class="row mt-2 mb-4">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col mb-2">
                                    <!--Calificacion-comment-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                <img class="mt-3 img_bene" src="img/logotipos/justice.svg" alt="asistencia-legal" title="asistencia-legal" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                            <p class="text-center mb-0"><strong class="f13bene">Asistencia Legal</strong></p>
                <ul>
                    <li class="fontmovile" style="list-style: none;">Telefónico</li>
                    <li class="fontmovile" style="list-style: none;">En caso de Robo</li>
                </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
   </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col">
                                 <!--   Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                    <img class="mt-3 img_bene" src="img/logotipos/dog.svg" alt="Mascota hogar" title="Mascota hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                       <p class="text-center mb-0"><strong class="f13bene">Mascotas Hogar</strong></p>
                    <ul>
                        <li class="fontmovile" style="list-style: none;">Orientación veterinaria</li>
                        <li class="fontmovile" style="list-style: none;">Ayuda en caso de Extravío</li>
                    </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
   </div>
         </div>
        </div>
        <br>
    </section>


</template>
