<template>

<section>
     <div class="w-100 p-3"></div>
     <div class="container">
          <div class="row">
              <div class="col-12 mt-0 text-justify">
                   <br>
                    <p class="mt-b40">Cúal ha sido tu mayor sueño, recuerdas cuando imaginabas tener tu propia casa o departamento, que era lo primero que harías al tenerla, quizás tus propias reglas, la decoración, los muebles, esto te animaba y motiva todos los días, hasta lograrlo; Y ahora, ya que sabes el sacrificio, las horas de trabajo que cuestan para tener tu casa y la inversión que representa tener un hogar, que pasaría si todo esto se viera perdido o dañado. Hoy en día los riesgos a los que estamos expuestos son muchos y más con los desastres naturales. </p>
                    <p>Con un Seguro de Casa estás cuidando de ti, tu familia y tu patrimonio; Los beneficios al tener una póliza de Seguro de Casa son muchos, pues te protegen de cualquier daño, percance o accidente en casa, además de cubrir asistencia médica para ti y los tuyos en caso de requerir de una, un Seguro de Casa sirve para respaldarte en daños materiales y atenciones de primera necesidad, cuántas veces has necesitado de un plomero o cerrajero, cuántas veces has preferido dejar ese detalle en casa porque no conoces algún albañil de confianza, pues con tu Seguro de Casa cuenta con la asistencia y servicio ante estos incidentes, en Ahorra Seguros al igual que tu, nuestra prioridad es el bienestar y la protección de las familias,es por esto ponemos a tu alcance las mejores opciones del mercado con beneficios únicos y precios a tu medida. 
                   </p>
              </div>
            </div>         
     </div>  
</section> 
    
</template>
