<template>
<section>
    <div class="w-100 p-3"></div>
    <div class="container">
        <div class="row">
             <div class="col-12 mt-0 text-justify">
                 <p class="mt-b40">Sabemos que la inversión más importante es justamente una casa, y es así que en Ahorra Seguros te brindamos lo necesario para que cuides de ella en todo momento, pues al tenerla protegida contra cualquier riesgo a la que este expuesta tu vivienda. Y es que un Seguro de Hogar es la mejor manera de cuidar tu patrimonio, así como el futuro de tu familia.</p>
                 <p>Son muchos los beneficios que una póliza en Seguros de Hogar te da, pues no solo estarás respaldado en lo material, ya que también en caso de necesitar asistencia médica, podrás recibirla tú y toda familia. También por reparaciones inmediatas, como servicios de plomería, albañilería, por problemas de electricidad, y hasta un cerrajero.</p>
            </div>
     </div> 
     </div>    
    </section>
    
</template>
