<template>
     <section class="mt-0">
     <div class="container">
          <h3 class="card-title h2Colortitle title mt-2 colorAhorra">
            Coberturas exclusivas en Seguros de Hogar Mapfre
           </h3>         
            <div class="row"> 
                 <div class="col-12 col-sm-12 col-md-12">
                    <br>          
                    <ul class="p-10 text-justify">
                         <li style="list-style: none;"><strong>Seguros de Hogar Mapfre Patrimonio:</strong>Cubre gastos por la remoción de escombros de los bienes que hayan sido afectados, así como el respaldo de gastos extra hasta por 4 meses en un hotel por la pérdida de la vivienda, además de cubrir mudanzas, almacenaje de muebles y renta de la casa. De igual forma los daños en cristales, marcos y cristales de decoración serán totalmente cubiertos.</li>
                         <li style="list-style: none;"><strong>Seguros de Hogar Mapfre Seguridad:</strong> Un plan totalmente diseñado para la protección a el robo de artículos que se encuentran dentro de tu casa, y por asalto a familiares, así como los daños que pueda causar el robo a tu propiedad. Con esta póliza podrás asegurar el dinero en efectivo que sea robado dentro de tu casa, así como los objetos personales como joyas, aparatos electrónicos y muebles.</li>
                         <li style="list-style: none;" ><strong>Seguros de Hogar Mapfre Médico:</strong> Recibe asistencia médica para ti y toda tu familia, las 24 horas los 365 días, así como el servicio de ambulancia y médico a domicilio. Obtendrás el respaldo en gastos médicos si llegaras a sufrir lesiones por robo dentro de tu casa, además se entregará un reembolso a tus familiares en caso de tu fallecimiento.</li>
                         <li style="list-style: none;"><strong>Seguros de Hogar Mapfre Total:</strong> Esta es la máxima cobertura que Mapfre Seguros tiene para ti, en la cual se añaden todos los planes antes mencionados, además de recibir la protección por desastres naturales como temblores, fenómenos hidrometeorológicos </li>
                    </ul>
                </div>
                    <br>
             </div>
    </div>
    </section>
</template>
