<template>

 <div class="container">
     <h4 class="card-title h2Colortitle title colorAhorra">
          Contratar un Seguro de Hogar con Ahorra Seguros.mx es más barato de lo que imaginas.
       </h4>  
     <div class="">
      <p>En Ahorra Seguros encontrarás comparativos de precios de Seguros de Hogar de las mejores Aseguradoras en México. Nuestro asesor telefónico te brindará el apoyo en la toma de decisión para elegir el mejor seguro de vida con las coberturas que necesitas al mejor costo.</p>           
    </div>               
</div>

    
</template>
