<template>

   <div class="container text-justify">
        <h4 class="card-title h2Colortitle title colorAhorra">
            Contratar un Seguro de Casa con Ahorra Seguros.mx es más barato de lo que imaginas
         </h4>
         <p>En Ahorra Seguros nos caracterizamos por ser los aliados de nuestros clientes pues nuestro trabajo es ofrecerte las mejores opciones, con nosotros encontrarás comparativos de precios de Seguro de Casa con las mejores alternativas del mercado, en conjunto con las mejores aseguradoras te brindamos, oportunidades únicas a precios exclusivos, obtén los beneficios que tenemos para ti y sé uno de nuestros miles de clientes satisfechos.
        </p>
   </div>

</template>
