<template>
 <section class="mt-0">
    <div class="container">
        <h3 class="card-title h2Colortitle title mt-2 colorAhorra">
             ¿Por que necesito un Seguro de Casa?
        </h3>
        <div class="row">   
            <div class="col-12 col-sm-12 col-md-12">
                <p class="text-justify">
                     Como bien ya lo dijimos, los imprevistos y accidentes son los factores principales para desestabilizar nuestro modo y calidad de vida, pues surgen gastos inesperados que dañan nuestra economía, alterando nuestras decisiones, actividades o nuestro futuro, por esto es que lo mejor es ser precavidos y junto con nuestro Seguro de Casa darle la vuelta a los imprevistos, que no nos tome por sorpresa y estar protegidos ante cualquier percance; En los últimos años en México y el mundo hemos sufrido de desastres naturales que causan grandes pérdidas de dinero y en el peor de los casos pérdidas humanas.   
                </p> 
                <p class="text-justify">
                     Los riesgos que representa la naturaleza no podemos controlarlos sin embargo si podemos protegernos ante sus posibles daños y hacerles frente de la mejor forma con un Seguro de Casa y estos son algunos ejemplos de los daños que con Ahorra Seguros y tu Seguro de Casa estás cubierto.
                 </p>  
            <br> 
            <ul class="p-10 text-justify">
                            <li style="list-style:none;"><strong>Terremotos o erupciones:</strong> Con tu Seguro de Casa estas totalmente cubierto ante los daños que se deriven de alguno de estos fenómenos naturales.
                            </li>
                            <li style="list-style: none;"><strong>Daños inesperados:</strong> Hablemos una vez más de los fenómenos meteorológicos, y es que estos, están a la orden día arrasando con lo que esté a su paso, causando daños y pérdidas económicas, tal es el caso de inundaciones o en caso de accidente los incendios, con tu Seguro de Casa cubre todas las afectaciones que puedas tener al sufrir uno de estos casos.</li>

                            <li style="list-style: none;" ><strong>Robo o asalto:</strong> Sabemos que la inseguridad no depende de nosotros y que hacemos todo lo que esté en nuestro alcance para protegernos, sin embargo con tu Seguro de Casa estas totalmente amparado ante robos en muebles, joyería, ornamentos, utensilios, electrodomésticos, aparatos tecnológicos todo lo perdido en caso de robo.</li>

                            <li style="list-style: none;"><strong>Responsabilidad civil:</strong> Este es una de los beneficios más buscados, pues en caso de provocarle daños a terceros por actos no intencionados, como podrían ser, incendios, cristales rotos, lesiones provocadas por algún daño en tu estructura, este es el respaldo que necesitas pues con tu Seguro de Casa estás protegiendo de ellos también.</li>

                            <li style="list-style: none;"><strong>Gastos extraordinarios:</strong> En caso de sufrir daños mayores en tu vivienda y que está necesite remodelación o reparaciones mayores, con tu Seguro de Casa recibirás el apoyo económico para el pago del alquiler en caso que tengas que rentar temporalmente.</li>
                            <li style="list-style: none;"><strong>Asistencia Médica::</strong> Con tu Seguro de casa, estás protegiendo de tu patrimonio, pero también cuentas con el apoyo que necesites en caso de sufrir lesiones por accidente dentro de tu hogar.</li>
                        </ul>     
                    </div>                
                </div>            
            </div>
    </section>
</template>
