<template>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-7 align-items-center">
                  <h2 class="card-title h2Colortitle title colorAhorra">
                       Seguros de Casa en México
                  </h2>
                  <p class="text-justify">
                        En México solo el 5% de la población cuenta con un Seguro de Casa y esto se debe a una situación de cultura, pues como mexicanos preferimos corregir antes que prevenir, pero, qué pasaría si cuidamos más de nosotros y nuestro patrimonio, al contratar un Seguro de Casa estás previniendo tu futuro y porvenir, ya que con tu póliza de Seguro de Casa, mantienes tu calidad de vida, ante posibles daños o simples reparaciones, que no te tome desprevenido, prevenir riesgos te lleva un paso adelante. 
                 </p>
                 <p class="text-justify">
                        No importa que seas dueño, estés en proceso de adquirir una vivienda o estás alquilando tu hogar a terceras personas pues en este caso existen coberturas que te protegen de igual forma, ya sea por daños superficiales como rotura de ventanas, alguna abolladura o el mismo daño de la estructura, tu Seguro de Casa te respalda y cuida, haciéndose cargo de los gastos que de ella se deriven así como tu protección individual e integral.
                 </p>
                  <p class="text-justify">
                        Si bien ya comprendimos que nadie estamos exentos de daños, accidentes e imprevistos, confirmamos que nuestra mejor decisión es tener un Seguro de Casa y con nuestro mejor aliado Ahorra Seguros, lo conseguiremos de forma sencilla y a un mejor precio, pues nos brinda, las mejores opciones, asistencia, respaldo y beneficios del mercado asegurador.  
                  </p>   
                </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 align-middle align-self-center">
                    <img class="img-fluid img_responsive" src="img/common/hogar.png" alt="Seguros de Casa" />
           </div>    
        </div>           
    </div>           
</section>
</template>
