<template>
    <section>
    <div class="container">
          <div class="row">
               <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-7 align-items-center">
                   <h2 class="card-title h2Colortitle title colorAhorra">
                        Mapfre Seguros de Hogar
                    </h2>
                    <p class="text-justify">
                    <strong>Seguros Mapfre</strong> ha logrado cumplir con los más altos estándares de calidad y responsabilidad que los clientes exigen, ya que se caracteriza por respaldar a sus asegurados con una solidez financiera que te ofrece tranquilidad y bienestar en tu vida diaria, pues tú futuro, y patrimonio estarán protegidos por Seguros de Hogar Mapfre.
                    </p>    
                    <p class="text-justify">
                     En Ahorra Seguros tenemos para ti las mejores coberturas que Mapfre Seguros de Hogar comercializa dentro del sector de viviendas, las cuales te brindan los mejores beneficios que te servirán para cuidar de tu patrimonio y el de tu familia, pero sobre todo, a mantener la protección que tú casa necesita, pues Seguros de Vivienda Mapfre te respalda económicamente, conoce un poco más.
                    </p>     
                 </div> 
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 align-middle align-self-center">
                    <img class="img-fluid img_responsive" src="img/common/hogar.png" alt="Seguros de Hogar" />
            </div>        
        </div>
    </div>
</section>
</template>
